# Path to scan for CDR files
scanPath: <path where cdr files are located>

# Database information
database:
  host: <hostname or ip address>
  port: <5432 or prot number>
  database: <database name>
  user: <username>
  password: <password>
